@media screen and (max-width:576px) {
    nav {
        flex-direction: column;
        margin: 50px 0px 20px 60px;
    }

    nav h2 {
        width: max-content;
        margin-bottom: 10px;
    }

    .banner_details>p {
        margin: 20px 93px;
        text-align: justify;


    }

    .feature_section {
        flex-direction: column;
        padding: 70px;
    }

    .feature_left {

        grid-template-columns: repeat(1, 1fr);

    }

    .feature_left>img {
        width: 72vw;

    }

    .feature_right {
        padding: 40px 0px 20px 0px;
        /* background-color: aqua; */


    }

    .feature_right h2,
    p {
        margin-bottom: 20px;
    }

    .feature_to_enjoy {
        flex-direction: column;
        padding: 0 0px 20px 70px
    }

    .feature_to_enjoy_details {
        padding: 30px 59px 44px 16px;

    }

    .feature_to_enjoy-right>img {
        width: 88%;
        height: 80vh;
    }







    .some_facts {
        padding: 20px 40px;

    }

    .client_work-images {

        /* background-color: aqua; */
        margin: 5px;
        /* flex-wrap: wrap; */
    }





}