* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}



@media screen and (max-width: 360px) {
    .nav_container {
        flex-direction: column;
        /* margin: 20px 20px; */
    }

    .logo {
        flex-direction: column;
        text-align: center;
    }

    .logo>img {
        height: 40px;
        width: 40px;
    }

    .logo>h1 {
        /* background-color: aqua; */
        font-size: 16px;

    }

    .nav_bar>ul {
        flex-direction: column;
        margin-top: 20px;
    }

    .nav_bar>ul>li {
        /* background-color: rgb(38, 255, 0); */
        margin-left: 0;
        margin-top: 2px;

    }

    .nav_bar>ul>li>a>i {
        /* background-color: rgb(38, 255, 0); */
        /* background-color: aqua; */
        font-size: 30px;

    }

    .mid_section {
        flex-direction: column-reverse;
        padding: 0;
        /* align-items: center; */
    }

    .right_side {
        display: flex;
        background-color: aqua;
    }

    .bgm {
        right: 40px;
        width: 70%;

    }

    .camera {
        width: 70%;
        position: absolute;
        left: 40px;
    }

    .left_side {
        padding-right: 0px;
        /* padding-left: 10px; */
        /* background-color: blue; */
        text-align: center;
        margin-top: 50px;

    }

    .left_side>h2 {

        font-size: 25px;
    }

    .left_side>p {
        padding-right: 0px;
    }

    /*  */



    .sponsors {
        flex-wrap: wrap;
        row-gap: 20px;
    }

    /* ---------------Grid products----------------------------- */

    .grid_container {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
        width: 100vw;
        /* background-color: aqua; */
    }

    .grid_container img {
        width: 230px;
        height: 200px;

    }

    .featured_section {
        flex-direction: column-reverse;
    }

    .featured_left>img {
        width: 100%;
        margin-top: 20px;
    }

    .featured_right {
        padding-left: 0;
        text-align: center;
    }

    .footer {
        font-size: 0.8em;



    }


}